YII_ENV=dev         # dev|prod|test
YII_DEBUG=true      # true|false 
DB_HOST=postgres    # оставить как есть
DB_PORT=5432        # оставить как есть

# контейнер сам создаст все необходимое, надо просто вписать желаемые креды и имя базы
DB_NAME=
DB_USER=
DB_PASSWORD=


DB_EXTERNAL_PORT=5432 # оставить как есть
YII_EXTERNAL_PORT=80  # внешний порт в который слать реквесты 

